.profile-view__image-container {
    background-color: #CC43A3;
    height: 220px;
}

.profile-view__image {
    height: 200px;
    padding-top: 20px;
    max-height: 200px;
    display: block;
    margin: auto;
}

.profile-view__details {
    height: 200px;

}